* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  // font-family: 'Heebo', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

a{
  text-decoration: none;
  color: #444;
}
h1 {
  font-size: 2.2rem;
  line-height: 2.6rem;
}
h2 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}
header{
  position: absolute;
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  .logo{
    height: 50px;
  }
  .navigation-links{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    a[aria-current]{
      font-weight: 500;
    }
  }
  .hamburger{
    display: none;
    width: 40px;
    height: 30px;
    flex-direction: column;
    .patty{
      width: 40px;
      height: 10px;
      margin: 0 0 5px;
      background: #444;
    }
  }
}
content{
  display: block;
  .content-wrapper{
    padding: 70px 0 0;
  }
}