* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  // font-family: 'Heebo', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

a{
  text-decoration: none;
  color: #444;
}
h1 {
  font-size: 2.2rem;
  line-height: 2.6rem;
}
h2 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}
header{
  position: absolute;
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  .logo{
    height: 50px;
  }
  .navigation-links{
    display: flex;
    flex-direction: row;
    // width: 50%;
    // justify-content: space-evenly;
    a{
      color: #fff;
      padding: 0 15px;
    }
    a[aria-current]{
      font-weight: 500;
    }
    .language-nemu{
      color: #fff;
      border-left: 2px solid #fff;
      position: relative;
      padding: 0 15px;
      min-width: 85px;
      font-size: 14px;
      .current-language{
        
      }
      .menu {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: all 0.4s ease;
        left: 0;
        border-radius: 0 0 3px 3px;
        .menu-item{
          padding: 10px 15px;
          cursor: pointer;
        }
      }
      &:hover{
        .menu {
          opacity: 1;
          max-height: 50px;
        }
      }
    }
  }
  .hamburger{
    display: none;
  }
}
content{
  display: block;
  .content-wrapper{
    padding: 70px 0 0;
  }
}